@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --color-surface: rgb(22, 22, 30);
  --color-surface-divider: rgb(33, 40, 48);
  --color-primary: rgb(26, 26, 27);
  --color-secondary: rgb(22, 22, 28);
  --color-dark: rgb(22, 22, 30);
  --color-light: rgb(255, 255, 255);
  --color-onprimary: rgb(248, 248, 248);
  --color-danger: rgb(226, 73, 73);
}
